{{block "navbar" .}}
  <div class="flex bg-gray-dark">
    <button onClick="window.location.href='/';" class="bg-gray-dark hover:bg-gray w-1/12 rounded">
      <div class="flex justify-center"><img class="h-15" src="/static/homepage.png"></div>
    </button>
    <button onClick="window.location.href='/reagents/';" class="bg-gray-dark hover:bg-gray text-white text-xl font-serif font-bold w-1/6 py-4 rounded">
      Реагенти
    </button>
    <button class="bg-gray-dark hover:bg-gray text-white text-xl font-serif font-bold w-1/6 py-4 rounded">
      Склади
    </button>
    <div class="grow"></div>
    {{if .User.Name}}
      <div class="w-1/12 text-white text-l select-none py-4">{{.User.Name}}</div>
      <button hx-post="/api/v1/sign-out" class="bg-gray-dark hover:bg-gray text-white text-xl font-serif font-bold w-1/6 py-4 rounded">Вийти</div>
    {{else}}
      <button onclick="window.location.href='/sign-in';" class="bg-gray-dark hover:bg-gray text-white text-xl font-serif font-bold w-1/6 py-4 rounded">
        Увійти
      </button>
    {{end}}
  </div>
{{end}}

{{block "base" .}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{{block "title" .}}{{end}}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/static/output.css" rel="stylesheet">
      <link href="/static/style.css" rel="stylesheet">
      <script src="/static/htmx.min.js"></script>
      <script src="/static/json-enc.js"></script>
      <script src="/static/subscript-numbers.js"></script>
    </head>
    <body class="bg-blue-light">
      <div class="relative">
        <div class="sticky top-0 left-0 right-0">
          {{template "navbar" .}}
          {{block "sticky-top" .}}{{end}}
        </div>
        <div id="content">
          {{block "content" .}}{{end}}
        </div>
      </div>
    </body>
  </html>
{{end}}

{{block "error-page" .}}
  <div id="content">
    <div class="flex justify-center items-center h-screen font-bold text-4xl">
      Щось пішло не так
    </div>
  </div>
{{end}}

{{block "not-found-page" .}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Сторінка не знайдена</title>
      <link href="/static/output.css" rel="stylesheet">
    </head>
    <body class="bg-blue-light">
      <div class="flex justify-center items-center h-screen font-bold text-4xl">
        Сторінка не знайдена
      </div>
    </body>
  </html>
{{end}}

{{block "unauthorized-page" .}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Користувач не авторизований</title>
      <link href="/static/output.css" rel="stylesheet">
    </head>
    <body class="bg-blue-light">
      <div class="flex justify-center items-center h-screen font-bold text-4xl">
        Користувач не авторизований
      </div>
    </body>
  </html>
{{end}}
