{{template "base" .}}
{{define "title"}}Екземпляр - {{.Reagent.Name}}{{end}}
{{define "content"}}
  {{$storageIndex := 0}}
  {{$s := .Storage}}
  {{range $i, $storage := .StoragesSlice}}
    {{if eq $storage.ID.String $s.ID.String}}
      {{$storageIndex = $i}}
    {{end}}
  {{end}}
  <script src="/static/localize-datetime.js"></script>
  <div x-data="{reagentName: '{{.Reagent.Name}}', storageName: '{{.Storage.Name}}', storageCellNumber: '{{.StorageCell.Number}}', usedAt: localizeDatetime('{{.UsedAt.UTC.Format "Mon Jan _2 15:04:05 MST 2006"}}'), expiresAt: localizeDate('{{.ExpiresAt.Format "Mon Jan _2 15:04:05 MST 2006"}}'), storages: '', selectedStorage: {{$storageIndex}}, cellTip: {{ (index .StoragesSlice $storageIndex).Cells }}, editState: {{.EditState}}, isUsed: ''}" class="flex justify-center">
    <div class='w-1/3 bg-{{if eq .Caller.Role.Name "assistant"}}gray-light{{else}}yellow{{end}} mt-8 p-8 rounded-md'>
      {{template "instance" .}}
      <div class="grid grid-cols-2">
        {{if eq .Caller.Role.Name "assistant"}}
          <div x-show="editState" class="flex w-full justify-evenly col-span-2">
            <button hx-post="/api/v1/reagents/{{.Reagent.ID}}/instances/{{.ID}}/transfer" hx-headers='{"_xsrf": "{{.TransferXsrf}}"}' hx-swap="outerHTML" hx-target="#instance" hx-ext="json-enc" hx-include="[name='storage'], [name='cell']" hx-on="htmx:beforeRequest: event.detail.requestConfig.parameters.storage = JSON.parse(event.detail.requestConfig.parameters.storage)['id']" class="btn-dark w-1/3 mt-4">Зберегти</button>
            <button @click="editState = ! editState" class="btn-dark w-1/3 mt-4">Відміна</button>
          </div>
          <div x-show="!editState" class="flex w-full justify-evenly col-span-2">
            <button @click="editState = ! editState" class="btn-dark w-1/3 mt-4">Перемістити</button>
            <button x-show="!isUsed" hx-post="/api/v1/reagents/{{.Reagent.ID}}/instances/{{.ID}}/use" hx-headers='{"_xsrf": "{{.UseXsrf}}"}' hx-swap="outerHTML" hx-target="#instance" class="btn-dark w-1/3 mt-4">Використати</button>
          </div>
        {{end}}
      </div>
    </div>
  </div>
{{end}}
