{{block "instances-search" .}}
  {{range .InstancesSlice}}
    <button onClick="window.location.href='/reagents/{{.ReagentInstance.Reagent}}/instances/{{.ReagentInstance.ID}}';" class="flex bg-yellow rounded-md w-full px-8 py-3">
      <ul class="list-none">
        <div class="text-left">Склад: {{.Storage.Name}}</div>
        <div class="text-left">Відділ: {{.StorageCell.Number}}</div>
        <div class="text-left">Термін придатності: {{.ReagentInstance.ExpiresAt.Format "2-1-2006"}}</div>
      </ul>
    </button>
  {{end}}
  {{if .NextOffset}}
    <button onClick="window.location.href='/reagents/{{.LastInstance.ReagentInstance.Reagent}}/instances/{{.LastInstance.ReagentInstance.ID}}';" hx-get="/api/v1/reagents/{{.LastInstance.ReagentInstance.Reagent}}/instances/?offset={{.NextOffset}}" hx-trigger="revealed" hx-swap="afterend" class="flex bg-yellow rounded-md w-full px-8 py-3">
      <ul class="list-none">
        <div class="text-left">Склад: {{.LastInstance.Storage.Name}}</div>
        <div class="text-left">Відділ: {{.LastInstance.StorageCell.Number}}</div>
        <div class="text-left">Термін придатності: {{.LastInstance.ReagentInstance.ExpiresAt.Format "2-1-2006"}}</div>
      </ul>
    </button>
  {{end}}
{{end}}

{{block "instance-form" .}}
    <div id="instance-form" class="grid grid-cols-10 gap-0">
    <div class="text-xl font-serif flex justify-left items-center col-span-5">Термін придатності</div>
    <input x-model="expiresAt" type="date" name="expires_at" class="col-span-4 rounded-md border-2 {{if .ExpiresAtErr}}border-red{{else}}border-gray{{end}}"/>
    <div></div>
    <div class="h-9 min-h-full col-span-5"></div>
    <div class="col-span-5 py-1 text-red">{{.ExpiresAtErr}}</div>
    <div class="text-xl py-1 mb-4 font-serif flex justify-left items-center col-span-3">Склад</div>
    <div class="col-span-6" x-init="{{if .LoadStorages}}document.getElementById('storages-select').innerHTML = storages{{else}}storages = document.getElementById('storages-select').innerHTML{{end}}">
      <select id="storages-select" x-init="$el.selectedIndex = selectedStorage" @change="cellTip = JSON.parse($el.value)['cells']; selectedStorage = $el.selectedIndex" class="mb-4 bg-gray-light rounded-lg w-full" name="storage">
        {{range .StoragesSlice}}
          <option value='{"id":"{{.ID}}", "cells":"{{.Cells}}"}'>{{.Name}}</option>
        {{end}}
      </select>
    </div>
    <div></div>
    <div class="text-xl font-serif flex justify-left items-center col-span-2">Відділ</div>
    <input x-model="cell" type="number" name="cell" class="col-span-2 rounded-md border-2 border-{{if .CellErr}}red{{else}}gray{{end}}"/>
    <div class="flex py-2 col-span-6">
      <div class="ml-4 mr-2">Кількість відділів на складі:</div>
      <div x-text="cellTip"></div>
    </div>
    <div class="h-9 min-h-full col-span-3"></div>
    <div class="col-span-7 py-1 text-red">{{.CellErr}}</div>
    <div></div>
  </div>
{{end}}

