{{block "instance-form" .}}
    <div id="instance-form" class="grid grid-cols-10 gap-0">
    <div class="text-xl font-serif flex justify-left items-center col-span-5">Термін придатності</div>
    <input x-model="expiresAt" type="date" name="expires_at" class="col-span-4 rounded-md border-2 {{if .ExpiresAtErr}}border-red{{else}}border-gray{{end}}"/>
    <div></div>
    <div class="h-9 min-h-full col-span-5"></div>
    <div class="col-span-5 py-1 text-red">{{.ExpiresAtErr}}</div>
    <div class="text-xl py-1 mb-4 font-serif flex justify-left items-center col-span-3">Склад</div>
    <div class="col-span-6" x-init="{{if .ReloadData}}document.getElementById('storages-select').innerHTML = storages{{else}}storages = document.getElementById('storages-select').innerHTML{{end}}">
      {{template "storages-select" .}}
    </div>
    <div></div>
    <div class="text-xl font-serif flex justify-left items-center col-span-2">Відділ</div>
    <input x-model="cell" type="number" name="cell" class="col-span-2 rounded-md border-2 border-{{if .CellErr}}red{{else}}gray{{end}}"/>
    <div class="flex py-2 col-span-6">
      <div class="ml-4 mr-2">Кількість відділів на складі:</div>
      <div x-text="cellTip"></div>
    </div>
    <div class="h-9 min-h-full col-span-3"></div>
    <div class="col-span-7 py-1 text-red">{{.CellErr}}</div>
    <div></div>
  </div>
{{end}}

{{block "instance" .}}
<div x-init="editState = {{.EditState}};{{if .UsedAt}}isUsed = {{not .UsedAt.IsZero}};{{end}}{{if .ReloadUsedAt}}usedAt = localizeDatetime('{{.UsedAt.UTC.Format "Mon Jan _2 15:04:05 MST 2006"}}'){{end}}" id="instance" class="grid grid-cols-2">
    <div x-text="reagentName" class="text-center mb-4 col-span-2"></div>
    <div class="text-left">Склад:</div><div x-show="!editState" x-text="storageName"></div>
    <div x-show="editState" x-init="{{if .ReloadStorages}}document.getElementById('storages-select').innerHTML = storages{{else}}storages = document.getElementById('storages-select').innerHTML{{end}}">
      {{template "storages-select" .}}
    </div>
    <div class="text-left">Відділ:</div><div x-show="!editState" x-text="storageCellNumber"></div><input type="number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" :value="storageCellNumber" x-show="editState" name="cell" class="rounded-md border-2 border-{{if .CellErr}}red{{else}}gray{{end}}"/>
    <div x-show="editState" class="flex col-span-2 justify-end">
      <div class="mr-2">Кількість відділів на складі:</div>
      <div class="mr-4" x-text="cellTip"></div>
    </div>
    <div x-show="editState" class="h-9 min-h-full col-span-2 text-red">{{.CellErr}}</div>
    {{if not .UsedAt.IsZero}}
      <div class="text-left mr-2">Використано:</div><div x-text="usedAt"></div>
    {{end}}
    <div class="text-left mr-2">Термін придатності:</div><div x-text="expiresAt"></div>
  </div>
{{end}}
