{{template "base" .}}
{{define "title"}}Реагент{{end}}
{{define "content"}}
  <div class="flex justify-center">
    <div class="w-1/2 p-8 mt-8 rounded-lg bg-gray-light">
      {{template "reagent-form" .}}
      <div class="flex w-full justify-center">
        <button hx-post="/api/v1/reagents" hx-ext="json-enc" hx-target="#reagent-form" hx-include="[name='name'], [name='formula']" hx-headers='{"_xsrf": "{{ .PostXsrf }}"}' hx-swap="outerHTML" class="bg-gray-dark hover:bg-gray text-white text-xl font-serif font-bold w-1/3 justify-center py-4 rounded-md">Створити</button>
      </div>
    </div>
  </div>
{{end}}
