DATABASE_URL=postgres://{{ database_user }}:{{ database_pass }}@{{ database_host }}:{{ database_port }}/{{ database_name }}
ALLOWED_HOSTS={{ domain_record_app }}
LOG_LEVEL={{ app_log_level }}
SECRET_KEY={{ app_secret_key }}
JWT_DOMAIN={{ domain_record_app }}
JWT_SECURE_COOKIES={{ app_jwt_secure_cookies }}
JWT_EXP_DELTA_MINUTES={{ app_jwt_exp_delta_minutes }}
